:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
  --color-c8c6c6: #c8c6c6;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-5 {
  gap: 5px !important;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background: var(--color-232f3e);
  color: white;
  padding: 13px 33px;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.button:hover {
  background: var(--color-febd69);
  color: var(--color-131921);
}

.button:disabled {
  background-color: var(--color-c8c6c6);
  cursor: not-allowed;
}

.form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

.form-control:focus {
  outline: none;
  border: none;
  background-color: var(--color-f5f5f7);
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Header Part */

.header-top-strip {
  background: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.logoImage {
  height: 4rem;
}

.header-upper {
  background: var(--color-131921);
  position: relative;
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
  cursor: pointer;
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper .user-settings {
  position: absolute;
  background: var(--color-1c1c1b);
  width: 15rem;
  top: 100%;
  z-index: 10;
  padding: 5px;
  transition: all 0.5s linear;
  border-radius: 5px;
}

.header-upper .user-settings li {
  padding: 10px;
  border-bottom: 1px solid var(--color-ededed);
}

.header-bottom {
  background: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.3;
  font-weight: 400;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 58px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/* Header Part Ends */

/* Footer Part  */

footer {
  background: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px;
}
/* Footer Part Ends */

/* Home Page */

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: -2px;
  padding: 0;
  text-transform: none;
}

.main-banner-content p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: none;
  color: var(--color-131921);
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: -2px;
  padding: 0;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: none;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--color-bf4800) !important;
}

/* Home Wrapper-2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/* Categories Section */

.categories {
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* BLOG PART */

.blog-width {
  width: 49%;
}

.blog-card {
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  object-fit: cover;
}
.blog-content {
  padding: 15px;
}

.blog-content .date {
  color: var(--color-777777);
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
}

.blog-content .title {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-131921);
}

.blog-content .desc {
  font-size: 13px;
  color: var(--color-777777);
  text-transform: capitalize;
  line-height: 22px;
}

/* Blog Page Ends */

/* Single Blog Page */

.single-blog-card {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.single-blog-card .title {
  font-size: 24px;
  color: var(--color-1c1c1b);
  font-weight: 600;
}

.single-blog-card p {
  font-size: 14px;
  color: var(--color-777777);
  line-height: 20px;
}

.single-blog-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.single-blog-card code {
  color: var(--color-777777);
  margin: 10px 0;
}

.back a {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 0 1rem 0;
  color: var(--color-777777);
}

.back a p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.single-blog-comment {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* Single Blog Page Ends */

/* Product Card */

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  overflow: hidden;
  width: 100%;
}

.product-card .product-image:hover > img:first-child {
  display: none;
  transition: all 0.5s linear;
}

.product-card .product-image:hover > img:last-child {
  display: block;
  transition: all 0.5s linear;
}

.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .product-image > img:last-child {
  display: none;
}

.brand {
  color: var(--color-bf4800);
  font-size: 13px;
  text-transform: capitalize;
  line-height: 24px;
}

.title {
  font-size: 15px;
  color: var(--color-1c1c1b);
  text-transform: capitalize;
}

.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
  margin-top: 10px;
}

.description {
  font-size: 13px;
  color: var(--color-777777);
  margin-top: 10px;
}

.action-bar {
  top: 15%;
  right: -35px;
}

.action-bar button,
.wishlist-icon button {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 1px solid var(--color-777777);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
}

.action-bar button:hover,
.wishlist-icon button:hover {
  background-color: var(--color-febd69);
}

.product-card:hover .action-bar {
  right: 20px;
  transition: all 0.5s linear;
}

.wishlist-icon {
  top: 5%;
  right: 20px;
}

.wishlist-icon a.active {
  background-color: var(--color-febd69);
}

/* Special Product */
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background: white;
}

.special-product-card .special-image {
  height: 200px;
}

.special-product-card .special-image img {
  height: 100%;
  object-fit: cover;
}

.special-product-card .discount-till span {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  height: 5px !important;
}

.progress-bar {
  background: rgb(39, 159, 39);
}

/* Famous Section */

.famous-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #0000001a;
}

.famous-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.famous-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  width: 100%;
}

.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-777777);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.famous-content h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: var(--color-131921);
  text-transform: none;
}

.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: var(--color-131921);
}
/* Home Page Ends */

/* Our Store */

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
}

.filter-scroll {
  max-height: 10rem;
  overflow-y: scroll;
}

.filter-scroll::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.filter-scroll::-webkit-scrollbar-thumb {
  background: var(--color-131921);
  border-radius: 5px;
}

.filter-scroll::-webkit-scrollbar-track {
  background: white;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  text-transform: capitalize;
  margin-bottom: 20px;
}

.filter-card ul,
.form-check-label {
  text-transform: capitalize;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.form-check-input:checked {
  outline: none;
  border: none;
  background-color: var(--color-febd69);
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin: 20px 0px 15px 0px;
}

.colors li {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-c8c6c6);
  border-radius: 100%;
}

.product-tags span {
  background-color: var(--color-c8c6c6);
  font-weight: 400;
  color: var(--color-3b4149);
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.random-products:first-child {
  border-bottom: 1px solid #0000001a;
}

.random-products h5 {
  font-size: 14px;
  color: var(--color-131921);
  margin-bottom: 8px;
  text-transform: capitalize;
}

.random-products b {
  margin: 10px 0;
  display: block;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #0000001a;
}

.filter-sort {
  width: 8rem;
}

.grid-image img {
  width: 34px;
  height: 34px;
  background-color: #dfdddd;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-image:hover img {
  background: var(--color-c8c6c6);
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 49%;
}

.gr-4 {
  width: 32%;
}

.gr-3 {
  width: 24%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image {
  width: 500px;
}

.gr-12 .action-bar {
  top: -50%;
  left: 210px;
}

.gr-12 .product-card .wishlist-icon {
  left: 210px;
}

.gr-12 .product-card:hover .action-bar {
  top: 22%;
}

.gr-6 .action-bar {
  top: 14%;
}

.gr-3 .action-bar {
  top: 16%;
}

.gr-6 .product-card .product-image {
  width: 250px;
  margin: auto;
}
/* Our Store Ends */

/* Contact Page */

.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background: white;
  gap: 15px;
}

.contact-inner-wrapper > div {
  width: 48%;
  padding: 10px 20px;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 4;
  text-transform: capitalize;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  color: var(--color-131921);
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
}

.contact-inner-wrapper ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-777777);
}

.contact-inner-wrapper ul li svg {
  font-size: 1.25rem;
  color: var(--color-131921);
}

.contact-inner-wrapper ul li a {
  color: var(--color-777777);
}

/* Contact Page Ends */

/* Compare Page */

.compare-product-card {
  padding: 20px 15px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
}

.cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--color-c8c6c6);
}

.compare-product-card .product-detail h5 {
  font-size: 16px;
  color: var(--color-131921);
  margin-bottom: 0;
}

.compare-product-card .product-detail p {
  font-size: 14px;
  color: var(--color-777777);
  text-transform: capitalize;
  margin-bottom: 0;
}

/* Compare Page Ends */

/* Wishlist Page*/

.wishlist-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 0 10px #0000001a;
  margin: 15px 0;
}

/* Wishlist Page Ends */

/* Auth Page*/

.auth-card {
  padding: 20px;
  background: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-131921);
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
}

.auth-card .form-control:focus {
  outline: none;
  border: none;
}

.auth-card .forgot {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

.auth-card .signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

.auth-card .signup:hover {
  background-color: var(--color-131921);
  color: white;
}

.auth-card .message {
  font-size: 13px;
  color: var(--color-777777);
}

/* Auth Page Ends */

/* Policy Page */

.policy {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

/* Policy Page Ends */

/* Single Product Page */

.main-product-image {
  padding: 10px;
  background: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.main-product-details {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.activeImage {
  border: 1px solid var(--color-bf4800) !important;
}

.main-product-details .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  text-transform: capitalize;
}

.main-product-details .price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-product-details .single-review {
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
  margin: 10px 0;
}

.product-heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0;
}

.product-data {
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 0;
}

.main-product-details .form-control {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
}

.additional-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-777777);
}

.normal-btn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: var(--color-777777);
}

.accodion svg {
  color: var(--color-777777) !important;
}

.other-product-images {
  background-color: white;
  color: #1c1c1b;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other-product-images > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 20%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.other-product-images img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.description-wrapper h4,
.reviews-wrapper h4 {
  font-size: 26px;
  color: var(--color-1c1c1b);
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-head p,
.review-head button {
  font-size: 14px;
  color: var(--color-777777);
}

.review-head button {
  border: none;
  outline: none;
  background: transparent;
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}

.review {
  margin: 0;
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px 0;
}

.review p {
  font-size: 14px;
  color: var(--color-777777);
}

.review h6 {
  text-transform: capitalize;
  font-size: 16px;
  color: var(--color-131921);
}

/* Single Product Page Ends */

/* Cart Page */

.cart-header {
  font-size: 18px;
  color: var(--color-777777);
  border-bottom: 1px solid var(--color-c8c6c6);
}

.cart-data {
  border-bottom: 1px solid var(--color-c8c6c6);
}

.cart-col-1 {
  width: 40%;
}

.cart-col-1 p {
  color: var(--color-777777);
  font-size: 14px;
}

.cart-col-2 {
  width: 10%;
}

.cart-col-2 h5,
.cart-col-4 h5 {
  color: var(--color-131921);
  font-size: 16px;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}

.cart-col-3 .form-control {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  width: 50px;
  text-align: center;
  padding: 5px 10px;
}

.cart-col-3 .form-control[type='number']::-webkit-inner-spin-button,
.cart-col-3 .form-control[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.trash-btn {
  width: 34px;
  height: 34px;
  background-color: var(--color-131921);
  border-radius: 100%;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/* Cart Page Ends */

/* Checkout Page */

.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, '>');
}

.checkout-wrapper .form-control {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.checkout-wrapper ol li a {
  color: var(--color-777777);
}

.checkout-wrapper ol li.active a {
  color: var(--color-131921);
}

.checkout-left-data .user-details {
  color: var(--color-777777);
  text-transform: capitalize;
  font-size: 16px;
}

.checkout-wrapper .badge {
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-wrapper .col-5 .title {
  color: var(--color-777777);
}

.checkout-wrapper .check-total h5 {
  font-size: 18px;
}

/* .checkout-wrapper .fs-4 {
  color: var(--color-777777);
} */

.checkout-wrapper .subtotal {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-777777);
}

/* Checkout Page Ends */

/* Profile Page */

.updateProfileInput {
  display: flex;
  align-items: center;
  gap: 5px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
}

.updateProfileInput input,
.updateProfileInput textarea {
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
}

.updateProfileInput textarea {
  resize: none;
}

.delete-account {
  background-color: var(--color-bf4800);
}

.delete-account:hover {
  background-color: red;
}

/* Profile Page Ends */

/* Place Order */

.table tbody td {
  padding: 1rem 0 !important;
}

/* Payment Component */

.stripe-payment {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.53);
}

.paymentContainer {
  display: grid;
  place-items: center;
  background: rgb(255, 255, 255);
  height: 65vh;
  margin: 2vmax;
  width: 50%;
  border-radius: 10px;
}

.paymentForm {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.paymentForm > h3 {
  font: 700 32px 'Roboto';
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.paymentInput {
  outline: none;
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

/* Payment Component Ends */
